@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500&family=Poppins:wght@500&display=swap");

.body {
  font-family: "Poppins", sans-serif;
}
.head-img {
  width: 40%;
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.col {
  margin-bottom: 50px;
}

/* Media Query */
@media only screen and (max-width: 688px) {
  .head-img {
    width: 400px;
    margin-left: 10px;
  }
}
